In [3]:
# 1
import pandas as pd

In [4]:
# 2, 3
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

chipo = pd.read_table(url, sep = '\t')

In [6]:
# 4
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [93]:
# 5 - 1
# 4622
# chipo.count()
chipo.shape[0]

4622

In [94]:
# 5 - 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 6 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null float64
revenue               4622 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 216.7+ KB

In [95]:
# 6
# len(chipo.columns)
chipo.shape[1]

6

In [16]:
# 7
for col in chipo.columns:
    print(col)

order_id
quantity
item_name
choice_description
item_price

In [96]:
# 8
# integers
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [102]:
# 9
# Chicken Bowl
# chipo.item_name.value_counts()
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [103]:
# 10
# 726
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity  item_price  revenue
item_name
Chicken Bowl    713926       761     7342.73  8044.63

In [104]:
# 11
# Diet Coke
# chipo.choice_description.value_counts()
c = chipo.groupby('choice_description').sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

                    order_id  quantity  item_price  revenue
choice_description
[Diet Coke]           123455       159      326.71   408.41

In [105]:
# 12
# 134
total_items_orders = chipo.quantity.sum()
total_items_orders

4972

In [45]:
# 13
# 13.a
# object
chipo.item_price.head()

dtype('float64')

In [43]:
# 13.b
x = lambda a : float(a[1:])
chipo.item_price = chipo.item_price.apply(x)

In [44]:
# 13.c
chipo.item_price.dtype

dtype('float64')

In [107]:
# 14
# 39237.02
# chipo['revenue'] = chipo['quantity'] * chipo['item_price']
# chipo.revenue.sum()
revenue = (chipo['quantity'] * chipo['item_price']).sum()
revenue

39237.02

In [50]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price,revenue
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,33.96

In [111]:
# 15
# 1834
# chipo.order_id.tail()
orders = chipo.order_id.value_counts().count()
orders

1834

In [112]:
# 16-1
# 9.111742932313597
# import numpy as np
# np.mean(chipo.groupby('order_id')['revenue'].mean())
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped.mean()['revenue']

21.394231188658654

In [113]:
# 16-2
chipo.groupby(by=['order_id']).sum().mean()['revenue']

21.394231188658654

In [91]:
# 17
chipo.item_name.value_counts().count()

50