Housing Market
-------------

In [1]:
# 1
import numpy as np
import pandas as pd

In [3]:
# 2

data1 = pd.Series(np.random.randint(1, 4, 100))
data2 = pd.Series(np.random.randint(1,3, 100))
data3 = pd.Series(np.random.randint(10000, 30000, 100))

In [7]:
# 3
data = pd.concat([data1, data2, data3], axis=1)
data.head()

   0  1      2
0  1  1  14484
1  2  1  14020
2  2  2  17522
3  3  1  17169
4  1  2  18053

In [13]:
# 4
data = data.rename(columns = {0 : 'bedrs', 1 : 'bathrs', 2 : 'price_sqr_meter'})
data.head()

   bedrs  bathrs  price_sqr_meter
0      1       1            14484
1      2       1            14020
2      2       2            17522
3      3       1            17169
4      1       2            18053

In [15]:
# 5
bigcolumn = pd.concat([data1, data2, data3])
bigcolumn

0         1
1         2
2         2
3         3
4         1
      ...
95    17295
96    13937
97    29620
98    23287
99    22718
Length: 300, dtype: int32

In [20]:
# 6, 7
bigcolumn.reset_index(drop = True, inplace = True)
bigcolumn.tail()

295    17295
296    13937
297    29620
298    23287
299    22718
dtype: int32